html, body {
  height: 100%;
  width: 100%;
  background-color: #ffffff;
  font-family: 'Mitr', sans-serif;
}

.show {
  background-color: #ffffff;
  text-color: black;
  margin-bottom: 0%;
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
  padding: 30px;
  text-align: center;
  border-radius: 25px;
  font-family: 'Mitr', sans-serif;
  font-size: 105%;
}

.code {
  color: #fafafa;
  font-size: 150%;
}

.title {
  font-size: 180%;
  color: black;
}

.l {
  font-size: 80%;
}

.A {
  border-radius: 10px;
}

.B {
  border-radius: 10px;
}

.Button {
  background-color: #107BE9;
  color: white;
  border-radius: 15px;
  font-size: 50%;
  font-family: 'Mitr', sans-serif;
  border: solid 5px #107BE9;
}

.link {
  display: flex;
  justify-content: space-around;
  width: 100%;
  font-size: 100%;
}

.l1 {
  background-color: #107be9;
  padding: 5px 15px 5px 15px;
  border-radius: 15px;
  text-decborder-radius: 10px;
  text-decoration: none;
  color: white;
}

.l2 {
  background-color: #107BE9;
  padding: 5px 15px 5px 15px;
  border-radius: 15px;
  text-decoration: none;
  color: white;
}

.l3 {
  background-color: #107BE9;
  padding: 5px 15px 5px 15px;
  border-radius: 15px;
  text-decoration: none;
  color: white;
}

.l4 {
  background-color: #107BE9;
  padding: 5px 15px 5px 15px;
  border-radius: 15px;
  text-decoration: none;
  color: white;
}

.l5 {
  background-color: #107BE9;
  padding: 5px 15px 5px 15px;
  border-radius: 15px;
  text-decoration: none;
  color: white;
}

.alt {
  text-decoration: underline;
  color: red;
  font-size: 70%;
}

.EASTEREGG {
  font-size: 60%; 
  color: black;
}

.hi {
  font-size: 130%;
  color: black;
}

h1 {
  color: black;
}

.h1 {
  font-size: 210%;
}

.tp {
  text-decoration: none;
  color: #fafafa;
}

