html, body {
  height: 100%;
  width: 100%;
  background-color: #ffffff;
  font-family: 'Mitr', sans-serif;
}

body {
  margin: 0px;
}

.show {
  background-color: #ffffff;
  color: black;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding: 30px;
  text-align: center;
  border-radius: 25px;
  font-family: 'Mitr', sans-serif;
  font-size: 100%;
}

.code {
  color: #fafafa;
  font-size: 100%;
}

.title {
  font-size: 180%;
  color: black;
}

.l {
  font-size: 80%;
}

.A {
  border-radius: 10px;
}

.B {
  border-radius: 10px;
}

.Button {
  background-color: #107BE9;
  color: white;
  border-radius: 15px;
  font-size: 50%;
  font-family: 'Mitr', sans-serif;
  border: solid 5px #107BE9;
}

.link {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  background-color: rgba(16, 123, 233, 0.1);
  border-radius: 25px;
  padding: 21.25px 15px 21.25px 15px;
  text-align: center;
  font-size: 2vh;
}

.l1, .l2, .l3, .l4, .l5 {
  background-color: #107be9;
  padding: 5px 15px 5px 15px;
  margin: 0 5px 0 5px;
  border-radius: 15px;
  text-decoration: none;
  color: white;
}

.alt {
  text-decoration: underline;
  color: red;
  font-size: 70%;
}

.EASTEREGG {
  font-size: 60%; 
  color: black;
}

.hi {
  font-size: 130%;
  color: black;
}

h1 {
  color: black;
}

.h1 {
  font-size: 210%;
}

.tp {
  text-decoration: none;
  color: #fafafa;
}